.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* CSS */

/* Variables */

:root {

  /* Variables for colors */

  --dark-navy: #282735;
  --light-beige: #ece7dc;
  --light-beige-hover: #a9a395;
  --mint-green: #8FD4BC;
  --mint-green-hover: #5e9d8d;
  --blue-violet: #645FB0;

  /* Variables for fonts */

  --font-primary: 'Playfair Display', serif;
  --font-size-h1: 48px;
  --font-size-h2: 36px;
  --font-size-h3: 28px;
  --font-size-body: 18px;

  font-size: 18px;

}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-body);
  color: var(--dark-navy);
  background-color: var(--light-beige);
}

/* Text colors */

.text-dark-navy {
  color: var(--dark-navy);
}
.text-light-beige {
  color: var(--light-beige);
}
.text-mint-green {
  color: var(--mint-green);
}
.text-blue-violet {
  color: var(--blue-violet);
}

/* Background colors */

.bg-dark-navy {
  background-color: var(--dark-navy);
}
.bg-light-beige {
  background-color: var(--light-beige);
}
.bg-mint-green {
  background-color: var(--mint-green);
}
.bg-blue-violet {
  background-color: var(--blue-violet);
}

/* Headings and paragraph */

h1 {
  font-size: var(--font-size-h1);
  color: var(--dark-navy);
}
h2 {
  font-size: var(--font-size-h2);
  color: var(--dark-navy);
}
h3 {
  font-size: var(--font-size-h3);
  color: var(--dark-navy);
}
p {
  font-size: var(--font-size-body);
  color: var(--dark-navy);
}

button {
  font-family: var(--font-primary);
}

/* Header */

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 4.5rem;
  z-index: 10;
  background-color: var(--dark-navy);
}

.navbar-logo img {
  height: 4.5rem;
}

.navbar-links {
  display: flex;
  list-style: none;
  gap: 3.5rem;
}

.navbar-links li a {
  color: var(--light-beige);
  text-decoration: none;
  font-size: var(--font-size-body);
  transition: color 0.3s;
}

.navbar-links li a:hover {
  color: var(--light-beige-hover);
}

/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background-color: var(--dark-navy);
  color: var(--light-beige);
  padding-left: 10rem;
  padding-right: 10rem;
}

.footer-logo img {
  height: 4rem;
}

.footer-text p {
  margin: 0;
  font-size: var(--font-size-body);
  color: var(--light-beige);
}

/* ImageTextSection */

.image-text-section {
  display: flex;
  align-items: center;
  padding: 4rem 2.5rem;
  margin-left: 6rem;
  margin-right: 6rem;

}

.image-text-section.reverse{
  flex-direction: row-reverse;
}

.image-container img {
  width: 45rem;
}

.text-container {
  margin-left: 2rem;
  margin-right: 7rem;
  text-align: left;
  align-self: flex-start;
  width: 45rem;
  line-height: 1.6rem;
}

.text-container.reverse {
  margin-left: 3.5rem;
}

.text-container h2 {
  font-size: var(--font-size-h2);
  color: var(--dark-navy);
  margin-bottom: 4rem;
  
} 

.text-container p {
  font-size: var(--font-size-body);
  color: var(--dark-navy);
  margin-bottom: 3rem;

}

.text-container button {
  background-color: var(--mint-green);
  color: var(#fff);
  padding: 1rem 2rem;
  font-size: var(--font-size-body);
  border: none;
  cursor: pointer;
  transition:  0.3s ease-in-out; 
}

.text-container button:hover {
  background-color: var(--mint-green-hover);
}

/* HeroSection */

.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px); 
  background-image: url('./assets/hero.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0 2rem;
  color: var(--light-beige); 
  overflow: hidden;
  z-index: 1; 
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: -1; 
}

.hero-content {
  position: relative;
  z-index: 2; 
  text-align: center;
}

.hero-content h1 {
  font-size: var(--font-size-h1);
  margin-bottom: 2rem;
  color: var(--light-beige);
}

.hero-content p {
  font-size: var(--font-size-body);
  margin-bottom: 2rem;
  color: var(--light-beige);
}

.hero-content button {
  background-color: var(--mint-green-hover);
  color: var(--light-beige);
  padding: 1rem 2rem;
  font-size: var(--font-size-body);
  border: none;
  cursor: pointer;
  transition:  0.3s ease-in-out; 
}

.hero-content button:hover {
  background-color: var(--mint-green);
}

/* Scrolling Section */

.scrolling-heading {
  font-size: var(--font-size-h1);
  color: var(--dark-navy);
  margin: 5rem 16rem;
  width: 40rem;
}

.scrolling-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem;
  gap: 1rem;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  width: 80%; 
  padding: 1rem 0;
}

.scroll-item {
  background-color: var(--dark-navy); 
  color: var(--light-beige); 
  padding: 1.5rem;
  margin: 0.5rem 5rem;
  width: 20rem;
  min-width: 10rem;
  border-radius: 0.8rem;
  text-align: left;
  flex: 0 0 auto; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
  transition: transform 0.3s ease;
}

.scroll-item h3 {
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  color: var(--light-beige);
}

.scroll-item p {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--light-beige);
}

.scroll-item:hover {
  transform: scale(1.05); 
}

.scroll-btn {
  background-color: var(--dark-navy); 
  color: var(--light-beige); 
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  border-radius: 50%;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.scroll-btn:hover {
  background-color: #555; 
  transform: scale(1.1); 
}

.scroll-container::-webkit-scrollbar {
  height: 0.5rem; 
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #555; 
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-track {
  background: var(--light-beige);
}
